PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
NEXT_PUBLIC_PAYPAL_CLIENT_ID=$PAYPAL_CLIENT_ID
NEXT_PUBLIC_PAYPAL_CURRENCY=USD
PAYPAL_DEFAULT_AMOUNT=50.00
NEXT_PUBLIC_PAYPAL_DEFAULT_AMOUNT=$PAYPAL_DEFAULT_AMOUNT
